  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}
{% load render_table from django_tables2 %}
{% if mensaje %}
<h4><div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Mensaje:</strong>
<p>{{ mensaje }}</p></div></h4>
{% endif %}
<ul class="nav nav-tabs">
 {% if opcion == "add" %}
    <li class="active"><a href="{% url ogcs-redes-facebook %}">Nuevo</a></li>{% else %}
    <li class="active"><a href="{% url ogcs-redes-facebook-edit codigo %}">Modificar</a></li>{% endif %}
    <li><a href="{% url ogcs-redes-facebook-query %}" >Consultar</a></li>
</ul>
<div class="tab-content" id="contenido_izq">
<div id="nuevo" class="tab-pane fade in active" >
{% if opcion == "add" %}
<form enctype="multipart/form-data" class="form-inline" name="frmface" id="frmface" method="post" action="{% url ogcs-redes-facebook %}" >{% else %}
<form enctype="multipart/form-data" class="form-inline" name="frmface" id="frmface" method="post" action="{% url ogcs-redes-facebook-edit codigo %}" >{% endif %}
<div id="frmfacebook" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto auto 20px; z-index: 1;width:720px;height:auto">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>
      <h3>Informacion General De Facebook</h3>
    </div>
    <div class="modal-body">
<div class="alert alert-info" style="font-size:12px"><a class="close" data-dismiss="alert">×</a><strong>Información: </strong>Los campos marcados con <strong class="requerido">*</strong> son obligatorios.</div>
      {% csrf_token %}
      {{ formulario.fechacreac.errors }}               
      <div class="row-fluid">
      <div class="span3"><strong class="requerido">*</strong>{{ formulario.fechacreac.label_tag }}:</div>
      <label class="input-append date" style="display:inline;" data-date-format="dd/mm/yyyy" id="dp4">{{ formulario.fechacreac }}<span class="add-on"><i class="icon-th"></i></span></label></div><br />      
      {{ formulario.cuentafb.errors }}
      <div class="row-fluid">       
      <div class="span3"><strong class="requerido">*</strong>{{ formulario.cuentafb.label_tag }}:</div>{{ formulario.cuentafb }}</div><br />
      {{ formulario.urlfb.errors }}
      <div class="row-fluid">       
      <div class="span3"><strong class="requerido">*</strong>{{ formulario.urlfb.label_tag }}:</div>{{ formulario.urlfb }}</div><br />
      <div class="modal-header"> <h4><strong class="requerido">*</strong>Les Gusta</h4> </div><br>
      <div class="inline">
      <label class="input-append date" style="display:inline;" data-date-format="dd/mm/yyyy" id="dp2">Fecha: {{ frm_detalle.fechadetfb }}<span class="add-on"><i class="icon-th"></i></span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ frm_detalle.cantidad.label_tag }}:{{ frm_detalle.cantidad }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="btn" type="button" value="Agregar" onClick="agregardetalle();">
      </div>
      <br>
      {% render_table tabla %}
    </div>
    <div class="modal-footer">
     <input class="btn-primary" name="grabar" value="{% if opcion == 'add' %}Guardar{% else %}Modificar{% endif %}" type="submit">
      <input class="btn" name="grabar" value="Cerrar" type="button" onclick="cerrarformulario('contenido');">    
    </div>
</div>
</form>
</div></div>
  {% endblock %}
  {% block scriptjs %}    
<script>
$('#frmface').submit(function() {
if ($('#tbldetalle').find("tbody tr").length==0) {
alert('Debe ingresar por lo menos una informacion acerca de LES GUSTA.'); return false;}
else{
return confirmar('¿Desea grabar el registro?');}});
$(document).ready(function() {
validanumber('id_cantidad');
});
$('#id_fechacreac_fb').datepicker({
    format: 'dd/mm/yyyy',
    language: 'es',
    autoclose: true,
    endDate: new Date(),
});
$('#id_fechadetfb').datepicker({
    format: 'dd/mm/yyyy',
    language: 'es',
    autoclose: true,    
    endDate: new Date(),
});

function agregardetalle(){
var fecha=$('#id_fechadetfb');
var likes=$('#id_cantidad');
var tdetalle= $('#tbldetalle');
var ok=true;
if ($.trim(fecha.val())==''){
alert("Escriba la fecha");fecha.focus();return false;
}else {
$.each(tdetalle.find("tbody tr"),function(){
    tfecha = this.cells[1].innerHTML;
    tfecha= tfecha.substr(tfecha.lastIndexOf("/")-5);
    if (tfecha==fecha.val()){
    ok=false;return tfecha;
    }
});
if(ok==false){alert("Ya existe un registro con dicha FECHA, elija otra fecha POR FAVOR.");fecha.focus();return false;}
}
if ($.trim(likes.val())==''){
alert("Escriba el numero de likes");tweets.focus();return false;
}
var tdetalle= $('#tbldetalle').find("tbody");
var n= $('#tbldetalle').find("tbody tr").length+1;
fila="<tr class='"+n+"'><td>"+n+"</td><td><input type='hidden' name='tfechas' value='"+fecha.val()+"'>"+fecha.val()+"</td><td><input type='hidden' name='tlikes' value='"+likes.val()+"'>"+likes.val()+"</td><td><a href='javascript: removedetalle("+n+")'><div id='delete'></div></a></td></tr>"
tdetalle.append(fila);
fecha.val('');likes.val('');
//fecha.focus();
}
function removedetalle(fila){
$("#tbldetalle tr."+fila).remove();
var n=1;
var tdetalle= $('#tbldetalle');
$.each(tdetalle.find("tbody tr"),function(){
    this.cells[0].innerHTML=n;
    n+=1;
});
}
</script>
  {% endblock %}
