  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}
  {% include 'include/header.html' %}
<div id='contenido' name='contenido'> 
<form class="form-inline span5" name="frmtwdiario" id="frmtwdiario" method="post" action="/redessociales/twitter/diario/" ><!--data-toggle="modal"-->
<div id="frmtwitterdiario" class="modal span7" style="position: relative; top: auto; left: absolute; margin: 0 auto; z-index: 1"><!--class="modal hide fade">-->
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>
      <h3>Nuevo Twitter Diario</h3>
    </div>
    <div class="modal-body">
      {% csrf_token %}              
      {{ frmtwitterdiario.as_p }}
    <div class="modal-footer">
     <input class="btn" name="grabar" value="Cerrar" type="button" onclick="cerrarformulario('contenido');">
      <input class="btn-primary" name="grabar" value="Guardar Cambios" type="submit">
    </div>
</div>
</form>
</div>
  {% endblock %}
